body {
  color: white;
  background-color: rgb(18, 53, 69);
}
.bottomImage {
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-image: url("../../public/Vector.png");
  background-size: cover;
}
.bottomImage img {
  height: 100%;
}
.moviesCardBottomImage {
  min-height: 90%;
  width: 100%;
  height: 100px;
  background-image: url("../../public/Vector.png");
  background-size: cover;
}
.moviesCardBottomImage img {
  height: 100%;
}
.siginInFontSize {
  font-size: 90px;
  font-weight: bold;
}
.InputFieldStyle {
  background-color: rgb(34, 73, 87);
  border: none;
}
input[type="checkbox"] {
  accent-color: rgb(34, 73, 87);
  width: 20px;
  height: 20px;
  font-size: 40px;
}
.Remember {
  margin-right: 15px;
}
.remember_me_box {
  margin-top: 20px;
  padding-bottom: 20px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#singleCardData {
  color: white;
  cursor: pointer;
}
.singleCardDataShow {
  background-color: rgb(14, 44, 58);
  border-radius: 12px;
}
.singleCardDataShow img {
  width: 305px;
  height: 350px;
  border-radius: 12px;
}
/* .Pagination-static {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.Pagination-static {
  margin-top: 60px;
}
.Pagination-static .page-link {
  background-color: transparent !important;
  border: none;
  color: white;
  font-weight: bold;
}
.Pagination-static .page-item.active .page-link {
  z-index: 3;
  color: white !important;
  background-color: rgb(72, 209, 126) !important;
}
.Pagination-static .disabled .page-link {
  color: rgb(168, 165, 165);
}
.body-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.DragImage {
  width: 70%;
  height: 450px;
  border: 2px dotted white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(34, 73, 87);
  cursor: pointer;
  overflow: hidden;
}
.formSubmition span {
  border: 2px solid white;
  padding: 12px 50px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-style: normal;
}
.createEditCancelBtn:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
.createEditSubmitBtn {
  background-color: #48d17f;
  color: white;
}
.createEditSubmitBtn:hover {
  background-color: #3bc070;
}
.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.HomePage h1 {
  font-size: 70px;
}
.newMoviebtn {
  padding: 15px 30px;
  background-color: rgb(72, 209, 126);
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}
.sigInForm {
  width: 600px;
}
.sigUpForm {
  width: 600px;
}
.movieShowContainer {
  min-height: calc(100vh - 110px);
}

.bottomImageOnEdit {
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-image: url("../../public/vector3.png");
  background-size: cover;
}
.bottomImageOnEdit img {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .sigInForm,
  .sigUpForm {
    width: 90%;
  }
  .container {
    padding-left: 15px;
  }
  .px-10 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .singleCardDataShow {
    width: 47%;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .singleCardDataShow img {
    object-fit: cover;
  }
  .DragImage {
    height: 250px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 70%;
  }
  .w-half {
    width: 100% !important;
  }
  .formSubmition {
    display: flex;
    justify-content: center;
  }
  .formSubmition span {
    width: calc(50% - 10px);
    text-align: center;
  }
  .formSubmition span:first-child {
    margin-right: 10px;
  }
  .formSubmition span:last-child {
    margin-left: 10px;
  }
  .HomePage h1 {
    font-size: 35px;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
