body {
  color: white;
  background-color: rgb(18, 53, 69);
}
.siginInFontSize {
  font-size: 90px;
  font-weight: bold;
}
.InputFieldStyle {
  background-color: rgb(34, 73, 87);
  border: none;
}
input[type="checkbox"] {
  accent-color: rgb(34, 73, 87);
  width: 20px;
  height: 20px;
  font-size: 40px;
}
.Remember {
  margin-right: 15px;
}
.remember_me_box {
  margin-top: 20px;
  padding-bottom: 20px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#singleCardData {
  color: white;
  cursor: pointer;
}
.singleCardDataShow {
  background-color: rgb(14, 44, 58);
}
.singleCardDataShow img {
  width: 320px;
  height: 200px;
}
.Pagination-static {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Pagination-static {
  margin-bottom: 50px;
  margin-top: 50px;
}
.Pagination-static .page-link {
  background-color: transparent !important;
  border: none;
  color: white;
  font-weight: bold;
}
.Pagination-static .page-item.active .page-link {
  z-index: 3;
  color: white !important;
  background-color: rgb(72, 209, 126) !important;
}
.Pagination-static .disabled .page-link {
  color: rgb(168, 165, 165);
}
.body-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.DragImage {
  width: 70%;
  height: 550px;
  border: 2px dotted white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(34, 73, 87);
  cursor: pointer;
}
.formSubmition i {
  border: 2px solid white;
  padding: 12px 50px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-style: normal;
}
.createEditCancelBtn:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
.createEditSubmitBtn {
  background-color: #48d17f;
  color: white;
}
.createEditSubmitBtn:hover {
  background-color: #3bc070;
}
.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.HomePage h1 {
  font-size: 70px;
}
.newMoviebtn {
  padding: 15px 30px;
  background-color: rgb(72, 209, 126);
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}
.sigInForm {
  width: 600px;
}
.sigUpForm {
  width: 600px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;